:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: var(--very-dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--dark-desaturated-blue);
  width: 90%;
  max-width: 360px;
  height: 90%;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.card-header {
  flex-basis: 35%;
  background-image: url("./images/image-header-mobile.jpg");
  background-size: 100% 100%;
  border-radius: 10px 10px 0 0;
}
